<script setup>
import { RouterLink } from 'vue-router'
import PageHeader from '../components/PageHeader.vue'
</script>

<template>
  <div class="page page-about">

    <PageHeader title="About" actionleft="/"/>

    <div class="page-content d-block">
      
      <div class="container mt-3">
        <div class="card card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <span>Author</span>
              <span class="float-end">Hoarau Gerald</span>
            </li>
            <li class="list-group-item">
              <span>Application</span>
              <span class="float-end">Flashcard App</span>
            </li>
            <li class="list-group-item">
              <div>Description : </div>
              <div>Learn the Japanese Hiragana and Katakana with the flashcard game. You can adjust the system to your level by settings the timer limit and number of cards to display.</div>
            </li>            
          </ul>
        
        </div>
      </div>

    </div>

  </div>
</template>
