<template>
  <div class="page page-game">

    <PageHeader :title="`Cards ${$root.current+1}/6`" actionleft="/" background="#5d87e9"/>
    
    <Grammar :url-data="'https://portfolio.geraldhoarau.fr/assets/data/grammar.json'" :key-question="$root.settings.wordsquestion" :key-answer="$root.settings.wordsanswer" :key-furigana="$root.settings.wordsquestionfurigana" :card-set="$root.settings.words" :question-size="'50px'" :answer-size="'22px'"></Grammar>

  </div>
</template>

<script>
import PageHeader from '../components/PageHeader.vue'
import Grammar from '../components/Grammar.vue'

export default {
  components:{
    PageHeader,
    Grammar
  }
}

</script>