<template>
  <div class="page page-game">

    <PageHeader :title="`Cards ${$root.current+1}/${$root.settings.quantity}`" actionleft="/" background="#5d87e9"/>
    
    <Flashcard :url-data="'https://portfolio.geraldhoarau.fr/assets/data/kana.json'" :key-question="$root.settings.kanaquestion" :key-answer="$root.settings.kanaanswer" :question-size="'100px'" :answer-size="'50px'"></Flashcard>
    
  </div>
</template>

<script>
import PageHeader from '../components/PageHeader.vue'
import Flashcard from '../components/Flashcard.vue'

export default {
  components:{
    PageHeader,
    Flashcard
  }
}

</script>