<template>
  <div class="page page-game">

    <PageHeader :title="`Cards ${$root.current+1}/${$root.settings.quantity}`" actionleft="/" background="#5d87e9"/>
    
    <Flashcard :url-data="'https://portfolio.geraldhoarau.fr/assets/data/words.json'" :key-question="$root.settings.wordsquestion" :key-answer="$root.settings.wordsanswer" :key-furigana="$root.settings.wordsquestionfurigana" :card-set="$root.settings.words" :question-size="'50px'" :answer-size="'22px'"></Flashcard>

  </div>
</template>

<script>
import PageHeader from '../components/PageHeader.vue'
import Flashcard from '../components/Flashcard.vue'

export default {
  components:{
    PageHeader,
    Flashcard
  }
}

</script>