<script setup>
import { RouterLink } from 'vue-router'
</script>

<template>
  <div class="homepage page page-home d-flex h-100 flex-column justify-content-center align-items-center">
    <div>
      <h1 class="text-center mb-5">
        Flashcard <br/>
        Hiragana / Katakana<br/>
        Kanji
      </h1>
    </div>
    <div class="d-flex flex-column w-100 align-items-center">
      <RouterLink class="btn btn-primary mb-2 w-50" to="/game">Fashcard Kana</RouterLink>
      <RouterLink class="btn btn-primary mb-2 w-50" to="/game-kanji">Flashcard Kanji</RouterLink>
      <RouterLink class="btn btn-primary mb-2 w-50" to="/game-vocabulary">Flashcard Vocabulary</RouterLink>
      <RouterLink class="btn btn-primary mb-2 w-50" to="/game-decks">Flashcard Decks</RouterLink>
      <RouterLink class="btn btn-primary mb-2 w-50" to="/game-listening">Flashcard Listening</RouterLink>
      <RouterLink class="btn btn-primary mb-2 w-50" to="/game-grammar">Flashcard Grammar</RouterLink>
      <RouterLink class="btn btn-info mb-2 w-50" to="/study">Study Kana</RouterLink>
      <RouterLink class="btn btn-info mb-2 w-50" to="/study-kanji">Study Kanji</RouterLink>
      <RouterLink class="btn btn-warning mb-2 w-50" to="/settings">Settings</RouterLink>
      <RouterLink class="btn btn-secondary mb-2 w-50" to="/about">About</RouterLink>
    </div>
  </div>
</template>
