<template>
  <div class="page page-result">

    <PageHeader title="Result" actionleft="/" background="#5d87e9"/>

    <div class="page-content d-block">

        <div class="container">

          <div class="position-relative w-100" style="height:300px;">
            <svg class="result-circle">
              <circle id="resultcircle" r="100" cx="50%" cy="50%"/>
            </svg>
            <span id="result-text-percentage" class="result-text-percentage position-absolute top-50 start-50 translate-middle" style="stroke-dashoffset:635;">{{ percentage }}%</span>
          </div>

          <div class="card card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span>Percentage</span>
                <span class="float-end">{{percentage}}%</span>
              </li>
              <li class="list-group-item">
                <span>Correct</span>
                <span class="float-end">{{corrects}}/{{total}}</span>
              </li>
              <li class="list-group-item">
                <span>Time average</span>
                <span class="float-end">{{ timeavg }}sec</span>
              </li>
            </ul>
          </div>
        </div>
      
    </div>

  </div>
</template>

<script>
import PageHeader from '../components/PageHeader.vue'

export default {
  components:{
    PageHeader
  },
  mounted(){
    
    let cards = localStorage.getItem('result');
    this.cards = JSON.parse(cards);

    let quantity = this.cards.length;

    let times = this.cards.map(row => row.t);
    this.timeavg = parseFloat(times.reduce((a,b) => a+b, 0)/times.length).toFixed(1);

    this.corrects = this.cards.filter(row => row.correct==1).length;
    this.total = this.cards.length;

    this.percentage = parseInt( (this.corrects*100)/quantity );
    
    let resultcircle = 635-parseInt((this.percentage*635)/100);

    document.getElementById("resultcircle").style.strokeDashoffset = resultcircle+'px';

    if(this.percentage<70 && this.percentage>30){
      document.getElementById("resultcircle").style.stroke = '#f9ba32';
      document.getElementById("result-text-percentage").style.color="#f9ba32";
    }else if(this.percentage<=30){
      document.getElementById("resultcircle").style.stroke = '#f95132';
      document.getElementById("result-text-percentage").style.color="#f95132";
    }

  },
  data(){
    return {
      cards:null,
      percentage:null,
      corrects:0,
      total:0,
      timeavg:0,
      svg:0
    }
  },
  methods:{
  }
}

</script>