<template>
  <div class="page page-settings">

    <PageHeader title="Settings" actionleft="/"/>

    <div class="page-content d-block">
      
      <div class="container mt-3">
        <div class="card card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <span>Timer (in second)</span>
              <span class="float-end">
                <select class="form-control form-control-sm" v-model="$root.settings.timer">
                    <option value="15">15s</option>
                    <option value="20">20s</option>
                    <option value="25">25s</option>
                    <option value="30">30s</option>
                </select>
              </span>
            </li>
            <li class="list-group-item">
              <span>Cards (quantity)</span>
              <span class="float-end">
                <select class="form-control form-control-sm" v-model="$root.settings.quantity">
                  <option value="5">5 cards</option>
                  <option value="10">10 cards</option>
                  <option value="15">15 cards</option>
                  <option value="20">20 cards</option>
                  <option value="25">25 cards</option>
                  <option value="30">30 cards</option>
                </select>
              </span>
            </li>
          </ul>
        
        </div>
      </div>

      <div class="container mt-3">
        <div class="card">
          <div class="card-header bg-success text-white">Kana Flashcard</div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span>Question</span>
                <span class="float-end">
                  <select class="form-control form-control-sm" v-model="$root.settings.kanaquestion">
                    <option value="h">Hiragana</option>
                    <option value="k">Katakana</option>
                    <option value="r">Romaji</option>
                  </select>
                </span>
              </li>
              <li class="list-group-item">
                <span>Answer</span>
                <span class="float-end">
                  <select class="form-control form-control-sm" v-model="$root.settings.kanaanswer">
                    <option value="h">Hiragana</option>
                    <option value="k">Katakana</option>
                    <option value="r">Romaji</option>
                  </select>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container mt-3">
        <div class="card">
          <div class="card-header bg-success text-white">Words Flashcard</div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span>Question</span>
                <span class="float-end">
                  <select class="form-control form-control-sm" v-model="$root.settings.wordsquestion">
                    <option value="k">Kanji</option>
                    <option value="h">Hiragana</option>
                    <option value="d">Definition</option>
                  </select>
                  <select class="form-control form-control-sm" v-model="$root.settings.wordsquestionfurigana">
                    <option value="">Without Furigana</option>
                    <option value="h">With Furigana</option>
                  </select>
                </span>
              </li>
              <li class="list-group-item">
                <span>Answer</span>
                <span class="float-end">
                  <select class="form-control form-control-sm" v-model="$root.settings.wordsanswer">
                    <option value="k">Kanji</option>
                    <option value="h">Hiragana</option>
                    <option value="d">Definition</option>
                  </select>
                </span>
              </li>
              <li class="list-group-item">
                <span>Words chapters selection</span>
                <span class="float-end">
                  
                    <div v-for="(chap,index) in words">

                      <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" :id="'flexSwitchWords'+index" v-model="$root.settings.words" :value="index">
                        <label class="form-check-label" :for="'flexSwitchWords'+index">Chapter {{ index }}</label>
                      </div>
                      
                  </div>
                  
                </span>
              </li> 
            </ul>
          </div>
        </div>
      </div>

      <div class="container mt-3">
        <div class="card">
          <div class="card-header bg-success text-white">Vocabulary Flashcard</div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span>Question</span>
                <span class="float-end">
                  <select class="form-control form-control-sm" v-model="$root.settings.vocabularyquestion">
                    <option value="k">Kanji</option>
                    <option value="h">Hiragana</option>
                    <option value="d">Definition</option>
                  </select>
                  <select class="form-control form-control-sm" v-model="$root.settings.vocabularyquestionfurigana">
                    <option value="">Without Furigana</option>
                    <option value="h">With Furigana</option>
                  </select>
                </span>
              </li>
              <li class="list-group-item">
                <span>Answer</span>
                <span class="float-end">
                  <select class="form-control form-control-sm" v-model="$root.settings.vocabularyanswer">
                    <option value="k">Kanji</option>
                    <option value="h">Hiragana</option>
                    <option value="d">Definition</option>
                  </select>
                </span>
              </li>
              <li class="list-group-item">
                <span>Vocabulary chapters selection</span>
                <span class="float-end">
                  
                    <div v-for="(chap,index) in vocabulary">

                      <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" :id="'flexSwitchVocabulary'+index" v-model="$root.settings.vocabulary" :value="index">
                        <label class="form-check-label" :for="'flexSwitchVocabulary'+index">Chapter {{ index }}</label>
                      </div>
                      
                  </div>
                  
                </span>
              </li> 
            </ul>
          </div>
        </div>
      </div>

      <div class="container mt-3">
        <div class="card">
          <div class="card-header bg-success text-white">Decks Flashcard</div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span>Question</span>
                <span class="float-end">
                  <select class="form-control form-control-sm" v-model="$root.settings.decksquestion">
                    <option value="k">Kanji</option>
                    <option value="h">Hiragana</option>
                    <option value="d">Definition</option>
                  </select>
                  <select class="form-control form-control-sm" v-model="$root.settings.decksquestionfurigana">
                    <option value="">Without Furigana</option>
                    <option value="h">With Furigana</option>
                  </select>
                </span>
              </li>
              <li class="list-group-item">
                <span>Answer</span>
                <span class="float-end">
                  <select class="form-control form-control-sm" v-model="$root.settings.decksanswer">
                    <option value="k">Kanji</option>
                    <option value="h">Hiragana</option>
                    <option value="d">Definition</option>
                  </select>
                </span>
              </li>
              <li class="list-group-item">
                <span>Decks chapters selection</span>
                <span class="float-end">
                  
                    <div v-for="(chap,index) in decks">

                      <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" :id="'flexSwitchDecks'+index" v-model="$root.settings.decks" :value="index">
                        <label class="form-check-label" :for="'flexSwitchDecks'+index">Chapter {{ index }}</label>
                      </div>
                      
                  </div>
                  
                </span>
              </li> 
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
import PageHeader from '../components/PageHeader.vue'

export default {
  components:{
    PageHeader
  },
  data(){
    return {
      dico:[],
      words:[],
      vocabulary:[],
      decks:[]
    }
  },
  mounted(){
    this.loadData();
  },
  methods:{
    async loadData(){

      this.dico = await( await fetch("https://portfolio.geraldhoarau.fr/assets/data/kanji.json") ).json();
      this.words = await( await fetch("https://portfolio.geraldhoarau.fr/assets/data/words.json") ).json();
      this.vocabulary = await( await fetch("https://portfolio.geraldhoarau.fr/assets/data/vocabulary.json") ).json();
      this.decks = await( await fetch("https://portfolio.geraldhoarau.fr/assets/data/decks.json") ).json();

    },
  },
  watch:{
    '$root.settings.timer':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.quantity':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.words':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.vocabulary':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.decks':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.vocabularyquestion':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.vocabularyanswer':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.wordsquestion':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.wordsanswer':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.decksquestion':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.decksanswer':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.kanaquestion':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.kanaanswer':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.wordsquestionfurigana':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.vocabularyquestionfurigana':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
    '$root.settings.decksquestionfurigana':function(){
      localStorage.setItem('settings',JSON.stringify(this.$root.settings));
    },
  },
}

</script>