<template>
  <div class="page page-study">

    <PageHeader title="Study Kanji" actionleft="/"/>

    <div class="page-content d-block">
      
      <div class="container mt-3">
        <div class="card card-body">

          <div class="chapters p-2 bg-white">
            
            <span v-for="(chap,index) in dico" class="btn me-2 mb-2" v-bind:class="[index==chapter ? 'btn-primary' : 'btn-secondary']" @click="chapter=index">{{ index }}</span>
          
          </div>

          <div class="card-list d-flex flex-wrap">
            <div @click="openModal(card)" class="card card-body d-flex justify-content-center align-items-center position-relative study-font" style="width:20%;max-width:20%" v-for="card in dico[chapter]">
              <span >{{ card.k }}</span>
            </div>  
          </div>

          <!--
          <div class="card card-body read-text">
            <p>
              A「<span fg="にほんじん">日本人</span>が<span fg="ひる">昼</span>ごはんによく食べるものは何だと思いますか。」<br/>
              B「そうですね。日本人なら [ 1 ] おすしでしょう。」<br/>
              A「いいえ、ちがうんですよ。」<br/>
              B「じゃあ、てんぷらですか。」<br/>
              A「いいえ、てんぷらでもないんです。ちょっとからい食べ物です。」<br/>
              B「わかった！カレ－でしょう。」<br/>
              A「そうです。この間ざっしで読んだんですが、カレ－だそうです。」<br/>
              B「じゃあ、２ばんめはおすしですか。」<br/>
              A「 [ 2 ] 。でも、２ばんめもすしじゃないです。ラ－メンなんです。」<br/>
              B「そうなんですか。日本人はおすしとてんぷらをよく食べると思っていました。」<br/>
              A「私はすしが大好きで、日本にいたときよく食べました。」<br/>
              B「いいですね。わたしも日本へ行っておすしをたくさん食べたいです。」<br/>
              A「いつか行けるといいですね。日本のすしはほんとうにおいしいですから。」<br/>
            </p>
          </div>
          -->
        
        </div>
      </div>

    </div>

    <!-- Modal -->
    <div class="modal" id="modalKanji" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" v-if="current!=null">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title me-3" id="exampleModalLabel">{{ current.k }} ~ </h5>
            <span v-for="ref in current.ref" class="ms-2">{{ ref.on }} </span>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal()"></button>
          </div>
          <div class="modal-body" style="font-size:20px;">
            
            <table class="table table-sm" v-for="ref in current.ref">
              <tbody>
                <tr>
                  <td>
                    <table class="table table-sm mb-0" v-for="ex in ref.ex">
                      <tbody>
                        <tr>
                          <td width="30%">{{ ex.w }}</td>
                          <td width="30%">{{ ex.k }}</td>
                          <td>{{ ex.d }}</td>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>
              </tbody>
            </table>
              
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script >
import PageHeader from '../components/PageHeader.vue'

//import { furigana } from './../assets/Furigana.js';

export default {
  components:{
    PageHeader
  },
  data(){
    return {
      chapter:0,
      dico:[],
      current:null
    }
  },
  mounted(){
    this.loadData();

    //furigana();
  },
  methods:{
    async loadData(){
      this.dico = await( await fetch("https://portfolio.geraldhoarau.fr/assets/data/kanji.json") ).json();
    },
    openModal(word){
      this.current = word;
      $("#modalKanji").toggle();
    },
    closeModal(){
      $("#modalKanji").toggle();
    }
  }
}
</script>
