<template>
  <div class="page page-study">

    <PageHeader title="Study" actionleft="/"/>

    <div class="page-content d-block">
      
      <div class="container mt-3">
        <div class="card card-body">
        
          <div class="d-flex">
            <span type="button" class="nav-button text-center flex-fill bg-primary text-white p-2" v-on:click="mode='h'">Hiragana</span>
            <span type="button" class="nav-button text-center flex-fill bg-warning p-2" v-on:click="mode='k'">Katakana</span>
          </div>

          <div class="card-list d-flex flex-wrap">
            <div class="card card-body d-flex justify-content-center align-items-center position-relative study-font" style="width:20%;" v-for="card in dico">
              <span v-if="mode=='h'">{{ card.h }}</span>
              <span v-else>{{ card.k }}</span>

              <span class="position-absolute bottom-0 p-1 study-small">
                {{ card.r }}
              </span>
            </div>  
          </div>
        
        </div>
      </div>

    </div>

  </div>
</template>

<script >
import PageHeader from '../components/PageHeader.vue'

export default {
  components:{
    PageHeader
  },
  data(){
    return {
      mode:'h',
      dico:[]
    }
  },
  mounted(){
    this.loadData();
  },
  methods:{
    async loadData(){
      this.dico = await( await fetch("https://portfolio.geraldhoarau.fr/assets/data/kana.json") ).json();
    },
  }
}
</script>
