<template>
    <div class="flashcard-container" v-if="cards.length>0">

        <div class="flashcard" v-for="(card,index) in cards" :key="index" v-show="index==$root.current">
            <div class="flashcard-header">

                <div class="section-question d-flex p-2 position-relative">

                    <div class="card d-flex h-100 w-100 justify-content-center align-items-center" :style="{fontSize: questionSize}">
                        {{ card.s[keyQuestion] }}
                        <div v-if="keyFurigana!=undefined && keyFurigana!=''">{{ card.s[keyFurigana] }}</div>
                    </div>

                    <div class="progress flashcard-progress" style=""> 
                        <div id="progressbar" class="progress-bar" role="progressbar" :style="{width: progress}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <span id="timer" class="timer">
                        {{ (maxtime-card.t) }}
                    </span>

                </div>

            </div>
            <div class="flashcard-body">
                <div class="w-100 d-flex flex-wrap section-choices">
                    <div class="h-100 w-50 p-2 flashcard-button" v-for="(cell,card_index) in card.c"  :style="{fontSize: answerSize}">
                        <div class="card card-body d-flex justify-content-center align-items-center h-100 p-0" v-on:click="select(card_index)" v-bind:class="[(card.a==card_index && card.c[card.a][keyAnswer] == card.s[keyAnswer]) || (card.a!=null && card.a!=card_index && card.c[card_index][keyAnswer] == card.s[keyAnswer]) ? 'bg-success text-white' : (card.a!=null && card.a==card_index ? 'bg-danger text-white' : '')]">
                            <span>{{ card.c[card_index][keyAnswer] }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <Transition name="slide">
                <div v-if="card.timeout" class="position-absolute top-50 start-50 translate-middle card card-body bg-warning text-white" style="font-size:0.5em;">
                    TIMEOUT
                </div>
            </Transition>
        </div>

    </div>
</template>

<script>

import arrayShuffle from 'array-shuffle';

export default {
    props:["keyAnswer","keyQuestion","keyFurigana","urlData","cardSet","questionSize","answerSize"],
    mounted(){

        this.quantity = this.$root.settings.quantity;
        this.maxtime = this.$root.settings.timer;
        this.$root.current = 0;

        this.loadData();
    },
    data(){
        return {
            settings:null,
            quantity:10,
            maxtime:0,
            result:{t:0,s:0},
            dico:[],
            cards:[],
            progress:"100%",
            progressbar: document.getElementById("progressbar")
        }
    },
    methods:{
        async loadData(){

            this.dico = await( await fetch(this.urlData) ).json();

            this.init();
        },
        init(){

            this.dico = (this.cardSet!=undefined ? this.joinArray(this.dico) : this.dico);

            this.dico = arrayShuffle(this.dico);
            
            for(let i=0;i<this.quantity;i++){

                let cardsset = this.populateCards();

                this.cards.push({
                    c:cardsset.choices,
                    s:cardsset.solution,
                    a:null,
                    t:null,
                    timeout:false,
                    correct:null,
                });
            }
            
            this.startTimer();
        },
        joinArray(data){
            let selections = data.filter((row,index) => (this.cardSet.indexOf(index)>-1));

            let assemble = [];

            for(let i=0;i<selections.length;i++){
                assemble = [...assemble,...selections[i]];
            }
            return assemble;
        },
        populateCards(){
            let choices = [];

            do{
                let index = Math.floor(Math.random()*this.dico.length);
                let choice = this.dico[index];

                if(choice[this.keyQuestion]!="" && choices.filter(row => row[this.keyQuestion] == choice[this.keyQuestion]).length==0 && this.cards.filter(row => row.s[this.keyQuestion] == choice[this.keyQuestion]).length==0){
                    choices.push(choice);
                }

            }while(choices.length<4);

            return {
                solution:choices[Math.floor(Math.random() * choices.length)],
                choices:choices
            };

        },
        resetTimer(){
            clearInterval(this.$root.timer);
            this.$root.timer = null;
            this.progress = "100%";
        },
        startTimer(){
            this.$root.timer = setInterval(function(){
                this.cards[this.$root.current].t++;

                let time = this.cards[this.$root.current].t;
                let maxtime = this.maxtime;
                let calculation = 100-((time*100)/maxtime);

                this.progress = calculation+'%';

                if(time>=maxtime){
                    this.cards[this.$root.current].timeout = true;
                    this.cards[this.$root.current].correct = 0;
                    this.timeOut();
                }

            }.bind(this),1000);
        },
        timeOut(){
            
            this.resetTimer();

            setTimeout(function(){

                this.nextStage();

            }.bind(this),1000);
        },    
        nextStage(){
            if(this.$root.current < this.quantity-1){

                this.$root.current++;

                this.startTimer();

            }else{

                let result = JSON.stringify(this.cards);
                localStorage.setItem('result', result);
                
                this.$router.replace({"path":"/result"});
            }
        },
        select(index){
            if(this.cards[this.$root.current].a==null){
                this.cards[this.$root.current].a = index;

                if(this.cards[this.$root.current].c[index][this.keyAnswer] == this.cards[this.$root.current].s[this.keyAnswer]){
                    this.cards[this.$root.current].correct = 1;
                }else{
                    this.cards[this.$root.current].correct = 0;
                }
            
                this.resetTimer();

                setTimeout(function(){
                
                    this.nextStage();
            
                }.bind(this),2000);
            }
        }
        
    }
    
}
</script>