<template>
    <div class="flashcard-container" v-if="cards.length>0">

        <div class="flashcard" v-for="(card,index) in cards" :key="index" v-show="index==$root.current">
            <div class="flashcard-header">
                <div class="section-question d-flex p-2 position-relative">
                    <div class="card d-flex h-100 w-100 justify-content-center text-s">
                        <div v-html="card.c.q"></div>
                    </div>

                    <span id="timer" class="timer">
                        {{ (maxtime-card.t) }}
                    </span>

                    <div class="progress flashcard-progress" style=""> 
                        <div id="progressbar" class="progress-bar" role="progressbar" :style="{width: progress}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="flashcard-body p-2">
                <ul class="list-group" style="font-size:18px;">
                    <li class="list-group-item" v-for="(option,option_index) in card.c.o" v-on:click="select(option_index)" v-bind:class="[(card.a == card.c.r && card.a==option_index) || (card.a!=null && card.a!=option_index && card.c.r==option_index) ? 'bg-success text-white' : (card.a!=null && card.a==option_index ? 'bg-danger text-white' : '')]">
                        <span>{{ option.v }}</span>
                    </li>
                </ul>                
            </div>

            <Transition name="slide">
                <div v-if="card.timeout" class="position-absolute top-50 start-50 translate-middle card card-body bg-warning text-white" style="font-size:0.5em;">
                    TIMEOUT
                </div>
            </Transition>

        </div>

    </div>
</template>

<script>

export default {
    props:["keyAnswer","keyQuestion","keyFurigana","urlData","cardSet","questionSize","answerSize"],
    mounted(){

        this.quantity = 3;
        this.$root.current = 0;
        this.maxtime = this.$root.settings.timer;

        this.loadData();
    },
    data(){
        return {
            settings:null,
            quantity:10,
            result:{t:0,s:0},
            dico:[],
            cards:[],
            audio:null,
            progress:"100%",
            progressbar: document.getElementById("progressbar")
        }
    },
    methods:{
        async loadData(){

            this.dico = await( await fetch(this.urlData) ).json();

            //console.log(this.dico);

            this.init();
        },
        init(){

            this.dico = (this.cardSet!=undefined ? this.joinArray(this.dico) : this.dico);
 
            for(let i=0;i<this.quantity;i++){
                this.cards.push({
                    c:this.dico[i],
                    a:null,
                    t:null,
                    timeout:false,
                    correct:null,
                });
            }

            this.startTimer();

        },
        joinArray(data){
            let selections = data.filter((row,index) => (this.cardSet.indexOf(index)>-1));

            let assemble = [];

            for(let i=0;i<selections.length;i++){
                assemble = [...assemble,...selections[i]];
            }
            return assemble;
        },
        nextStage(){
            if(this.$root.current < this.quantity-1){

                this.$root.current++;

                this.startTimer();

            }else{

                let result = JSON.stringify(this.cards);
                localStorage.setItem('result', result);
                
                this.$router.replace({"path":"/result"});
            }
        },
        select(index){
            if(this.cards[this.$root.current].a == null){
                this.cards[this.$root.current].a = index;

                if(this.cards[this.$root.current].c.r == index){
                    this.cards[this.$root.current].correct = 1;
                }else{
                    this.cards[this.$root.current].correct = 0;
                }

                this.resetTimer();

                setTimeout(function(){
                
                    this.nextStage();
            
                }.bind(this),2000);
            }
        },
        resetTimer(){
            clearInterval(this.$root.timer);
            this.$root.timer = null;
            this.progress = "100%";
        },
        startTimer(){
            this.$root.timer = setInterval(function(){
                this.cards[this.$root.current].t++;

                let time = this.cards[this.$root.current].t;
                let maxtime = this.maxtime;
                let calculation = 100-((time*100)/maxtime);

                this.progress = calculation+'%';

                if(time>=maxtime){
                    this.cards[this.$root.current].timeout = true;
                    this.cards[this.$root.current].correct = 0;
                    this.timeOut();
                }

            }.bind(this),1000);
        },
        timeOut(){
            
            this.resetTimer();

            setTimeout(function(){

                this.nextStage();

            }.bind(this),2000);
        },  
        
    }
    
}
</script>