<template>
    <div class="flashcard-container" v-if="cards.length>0">

        <div class="flashcard" v-for="(card,index) in cards" :key="index" v-show="index==$root.current">
            <div class="flashcard-header">
                <div class="section-question d-flex p-2 position-relative">
                    <div class="card d-flex h-100 w-100 justify-content-center align-items-center">
                        
                        <img v-if="card.c.i!=''" class="flex-1" :src="'https://portfolio.geraldhoarau.fr/assets/image/'+card.c.i+'.jpg'" style="max-height:80%;max-width:80%;width:auto;height:auto;" />
                        
                        <audio controls>
                            <source :src="'https://portfolio.geraldhoarau.fr/assets/audio/'+card.c.a+'.mp3'" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            <div class="flashcard-body">
                <ul class="list-group" style="font-size:18px;">
                    <li class="list-group-item" v-for="(option,option_index) in card.c.o" v-on:click="select(option_index)" v-bind:class="[(card.a == card.c.r && card.a==option_index) || (card.a!=null && card.a!=option_index && card.c.r==option_index) ? 'bg-success text-white' : (card.a!=null && card.a==option_index ? 'bg-danger text-white' : '')]">
                        <span>{{ option.q }}</span>
                    </li>
                </ul>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" v-on:click="nextStage()">>> Next</button>
                </div>
                
            </div>

        </div>

    </div>
</template>

<script>

export default {
    props:["keyAnswer","keyQuestion","keyFurigana","urlData","cardSet","questionSize","answerSize"],
    mounted(){

        this.quantity = 6;
        this.$root.current = 0;

        this.loadData();
    },
    data(){
        return {
            settings:null,
            quantity:10,
            result:{t:0,s:0},
            dico:[],
            cards:[],
            audio:null,
        }
    },
    methods:{
        async loadData(){

            this.dico = await( await fetch(this.urlData) ).json();

            this.init();
        },
        init(){

            this.dico = (this.cardSet!=undefined ? this.joinArray(this.dico) : this.dico);
 
            for(let i=0;i<this.quantity;i++){
                this.cards.push({
                    c:this.dico[i],
                    a:null,
                    t:null,
                    timeout:false,
                    correct:null,
                });
            }
            
        },
        joinArray(data){
            let selections = data.filter((row,index) => (this.cardSet.indexOf(index)>-1));

            let assemble = [];

            for(let i=0;i<selections.length;i++){
                assemble = [...assemble,...selections[i]];
            }
            return assemble;
        },
        nextStage(){
            if(this.$root.current < this.quantity-1){

                this.$root.current++;

            }else{

                let result = JSON.stringify(this.cards);
                localStorage.setItem('result', result);
                
                this.$router.replace({"path":"/result"});
            }
        },
        select(index){
            if(this.cards[this.$root.current].a == null){
                this.cards[this.$root.current].a = index;

                if(this.cards[this.$root.current].c.r == index){
                    this.cards[this.$root.current].correct = 1;
                }else{
                    this.cards[this.$root.current].correct = 0;
                }
            }
        }
        
    }
    
}
</script>