<script >
import { RouterLink } from 'vue-router'

export default {
    props:{
        title:{
            required:true,
            default:"Title"
        },
        actionleft:{
            required:true,
            default:null,
        },
        actionright:{
            required:false,
            default:null,
        },
        background:{
            required:false,
            default:"#5d87e9"
        }
    }
}

</script>

<template>
  
    <div class="page-header d-flex" :style="{backgroundColor:background}">
        <div class="d-flex flex-fill align-middle align-items-center ps-2">
          <RouterLink v-if="actionleft!=null" :to="actionleft"><i class="fa-solid fa-circle-chevron-left text-white"></i></RouterLink>
        </div>
        <div class="d-flex flex-fill justify-content-center align-items-center">
          {{ title }}
        </div>
        <div class="d-flex flex-fill justify-content-end align-items-center pe-2">
          <RouterLink v-if="actionright!=null" :to="actionright"><i class="fa-solid fa-circle-chevron-left text-white"></i></RouterLink>
        </div>
    </div>

</template>
