body{
    background-color:#444444;
    font-family:"Meiryo","Noto","sans-serif","Arial";
    line-height:auto;
}

.main{
    position:relative;
    max-width:600px;
    background-color:white;
    height:100vh;
}

.page-header{
    height:50px;
    color:white;
    font-size:30px;
    line-height:30px;
}

.page-content{
    height:calc(100vh - 50px);
    background-color:#f0f0f0;
    overflow:auto;
}

.page-game{
  font-size: 5em;
}

.section-question{
    height:calc(50vh - 50px);
}

.section-choices{
    height:20vh;
}

.page-enter-active{
  transition: all 0.3s ease-out;
}

.page-enter-from{
  transform: translateX(100px);
  opacity: 0;
}

.page-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}


.slide-enter-active{
  transition: all 0.4s ease-out;
}

.slide-enter-from{
  transform: translateX(100vw);
  opacity: 0;
}

.slide-leave-to {
  transform: translateX(-100vw);
  opacity: 0;
}

svg.timer-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform:rotateZ(270deg)
}

svg.timer-circle circle {
  stroke-dasharray: 635px;
  stroke-dashoffset: 0px;
  stroke-width: 10px;
  stroke: rgb(181, 72, 72);
  fill: none;
  transition:1s all linear;
}

svg.result-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform:rotateZ(270deg) rotateX(180deg)
}

svg.result-circle circle {
  stroke-dasharray: 635px;
  stroke-dashoffset: 0px;
  stroke-width: 20px;
  stroke: #4bc279;
  fill: none;
  transition:1s all linear;
}

.result-text-percentage{
  font-size:3em;
  color:#4bc279;
}

.homepage{
  background-image:url('background.png');
  background-size:cover;
  background-position:center center;
}

.study-font{
  font-size:2em;
}

.study-small{
  font-size:0.5em;
}

.text-small{
  font-size:28px;
}
.text-medium{
  font-size:40px;
}

.text-xs{
  font-size:20px;
  line-height:28px;
}
.text-s{
  font-size:28px;
  line-height:36px;
}
.text-m{
  font-size:40px;
  line-height:50px;
}
.text-l{
  font-size:50px;
  line-height:62px;
}

.progress-bar{
  transition: 1s linear;
}

.flashcard-progress{
  position:absolute;
  bottom:10px;
  left:10px;
  right:10px;
  height:20px;
}

fg{
  position:relative;
}
fg > i{
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  width: 100%;
  text-align: center;
  width: 200%;
}

.read-text{
  font-size:20px;
  line-height:30px;
}

#timer{
  position:absolute;
  top:15px;
  right:15px;
  font-size:20px;
}