
<template>
  <div class="container main p-0 overflow-hidden">
     
      <RouterView v-slot="{Component}">
        <Transition name="page"> 
          <component :is="Component" />
        </Transition>
      </RouterView>
    
  </div>
</template>

<script>
import { RouterLink, RouterView } from 'vue-router'

export default {
  components:{
    RouterLink,
    RouterView
  },
  watch:{
    '$route':function(){
      if(this.timer!=null){
        clearInterval(this.timer);
        this.timer=null;
      }
      let settings = localStorage.getItem('settings');
      settings = JSON.parse(settings);

      this.settings= settings;
    }
  },
  data(){
    return {
      timer:null,
      current:0,
      settings:{
        timer:20,
        quantity:10,
        kanji:[0],
        words:[0],
        vocabulary:[0],
        decks:[0],
        kanaquestion:'h',
        kanaanswer:'r',
        vocabularyquestion:'k',
        vocabularyanswer:'h',
        vocabularyquestionfurigana:'h',
        decksquestion:'k',
        decksanswer:'h',
        decksquestionfurigana:'h',
        wordsquestion:'k',
        wordsanswer:'h',
        wordsquestionfurigana:'h'
      }
    }
  },
  mounted(){

    let settings = localStorage.getItem('settings');

    if(settings==undefined && settings==null){

      localStorage.setItem('settings',JSON.stringify(this.settings));
      
    }else{

      settings = JSON.parse(settings);

      if(Object.entries(settings).length!=Object.entries(this.settings).length){
        localStorage.setItem('settings',JSON.stringify(this.settings));
      }

    }

  }
}
</script>